body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .headernot {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .headernot a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .headernot a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .headernot a:hover {
    background-color:black;
    color:white;
  }
  
  .headernot a.active {
    background-color: black;
    color: white;
  }
  
  .headernot-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .headernot a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .headernot-right {
      float: none;
    }
}



