.wrapadd {
  margin: auto;
  margin-top: 70px;
  max-width: 400px;
  border-radius: 20px;
  border: 2px solid lightgray;
  background: transparent;
  box-sizing: border-box;
  padding: 20px;
  color: #fff;
  /* margin-top: -50px; */
}

.wrap h3 {
  text-align: center;
  color: lightgoldenrodyellow;
  font-size: 29px;
}

h2 {
  text-align: center;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  color: lightgoldenrodyellow;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

select {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  border-bottom: 1px dotted #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
select:hover {
  background-color: black;
}

input::placeholder {
  color: lightgrey;
}
.butadd {
  border: 1px solid white;
  border-radius: 10px;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  height: 50px;
}

input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  border: none;
  background: lightgoldenrodyellow;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .wrapadd {
    width: 300px;
  }
}
